<ion-header>
  <ion-toolbar>
    <ion-title>Wifi Config</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Choose Wifi Networks
      </ion-label>
      <ion-button color="light" item-end icon-start (click)="scanWifi()">
        <ion-icon name="refresh"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item *ngIf="success" color="secondary">
      {{success | json}}
    </ion-item>
    <ion-item *ngIf="error" color="danger">
      Oop... {{error.message | json}}
    </ion-item>
    <ion-item *ngFor="let network of networks" (click)="navigateToSetPassword(network)" [routerDirection]="'root'"
      [routerLink]="['/wifi-password']">
      <ion-label>
        {{network.SSID}}
      </ion-label>
      <ion-badge item-end>{{network.level}} dBm</ion-badge>
    </ion-item>

  </ion-list>

</ion-content>