<ion-header>
  <ion-toolbar>
    <ion-title>Wifi Password</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label> {{ network?.SSID }} </ion-label>
      <ion-button
        color="light"
        icon-start
        [routerDirection]="'root'"
        [routerLink]="['/wifi-config']"
      >
        <ion-icon name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-list-header>
    <ion-item [formGroup]="formGroup">
      <ion-input
        type="password"
        placeholder="Password"
        [formControl]="pwdControl"
      ></ion-input>
      <ion-button
        icon-start
        [disabled]="formGroup.invalid"
        (click)="sendWifiConfig()"
      >
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <app-logger></app-logger>
    <ion-item>
      <ion-label>BSSID</ion-label>
      <ion-label>{{ network?.BSSID }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Level</ion-label>
      <ion-label>{{ network?.level }}</ion-label>
      <ion-badge>dBm</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Frequency</ion-label>
      <ion-label>{{ network?.frequency }}</ion-label>
      <ion-badge>MHz</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
