<ion-header>
  <ion-toolbar>
    <ion-title>{{ currentDevice?.id }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header> <ion-label> Depth </ion-label> </ion-list-header>
    <ion-item>
      <ion-label>
        <div class="big">{{ data | depth }}</div>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Median</ion-label>
      <ion-label>{{ median | depth }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mean</ion-label>
      <ion-label>{{ mean | depth }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Exp Smooth</ion-label>
      <ion-label>{{ expSmooth | depth }}</ion-label>
    </ion-item>
    <ion-item *ngIf="success" color="secondary">
      {{ success | json }}
    </ion-item>
    <ion-item *ngIf="error" color="danger">
      Oops... {{ error.message | json }}
    </ion-item>
    <!--
      <ion-item>
        <ion-button
          (click)="removeDevice()"
          color="danger"
          outline
        >
          <ion-icon name="trash"></ion-icon>
          <ion-label>Remove Device</ion-label>
        </ion-button>
      </ion-item>
    -->
    <ion-list-header>
      <ion-label>
        <ion-icon name="wifi"></ion-icon>
        Wifi Settings
      </ion-label>
    </ion-list-header>

    <ng-container *ngIf="currentDevice">
      <ion-item>
        <ion-label>SSID</ion-label>
        <ion-label>{{ currentDevice.ssid }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>IP Adress</ion-label>
        <ion-label>{{ currentDevice.ipAddress }}</ion-label>
      </ion-item>
    </ng-container>

    <ion-list-header>
      <ion-label>
        <ion-icon name="wifi"></ion-icon>
        MQTT Settings
      </ion-label>
    </ion-list-header>

    <ion-item>
      {{ (currentDevice?.mqttOptions?.servers)[0]?.host }}:{{
        (currentDevice?.mqttOptions?.servers)[0]?.port
      }}
    </ion-item>
  </ion-list>
</ion-content>
