.devices {
  $sine: url('../assets/icon/sine.png');
  $potentiometer: url('../assets/icon/potentiometer.png');
  $temperature: url('../assets/icon/temperature.png');
  $depth: url('../assets/icon/depth.png');
  $solar: url('../assets/icon/solar.png');

  .device {
    background-repeat: no-repeat;
    background-size: contain;
    &.simulated {
      background-image: $sine;
    }

    &.potentiometer {
      background-image: $potentiometer;
    }

    &.temperature {
      background-image: $temperature;
    }

    &.depth {
      background-image: $depth;
    }

    &.solar {
      background-image: $solar;
    }
  }
}

.padding-left {
  padding-left: 10px;
}
