<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Well Sensor </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngIf="success" color="secondary">
      {{ success | json }}
    </ion-item>
    <ion-item *ngIf="error" color="danger">
      Oops... {{ error.message | json }}
    </ion-item>
    <ion-list-header>
      <ion-label>
        <ion-icon name="wifi"></ion-icon>
        Devices
      </ion-label>
    </ion-list-header>

    <ion-item
      *ngFor="let d of devices"
      (click)="openDevicePage(d)"
      [routerDirection]="'root'"
      [routerLink]="['/device']"
    >
      <ion-label>{{ d.id }}</ion-label>
      <ion-badge *ngIf="d.mqttOptions">MQTT</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
